#root{
 
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  

}


.App {
  text-align: center;
}

.mainnav{
  display: flex;
  flex-direction: column;
  opacity: 0.90;
  height: 70px;
  background-color:#00539C;

  
}

.mainul a{
  color: #EEA47F;
  text-decoration: none;
  font-weight: 800;
  padding-top: 10px;


}

.mainul a:hover{
  /* box-shadow: 2px 2px 2px 2px #07245f; */
  transition: 0.3s;
  
  color:black

}

.mainul{
  display: flex;
  justify-content: left;
  gap: 15px;
  
}















.submitdiv{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(158, 126, 126);
  background: url(./images/image1_0.jpg);
  background-size: cover;
  width: 60%;
  margin-top: 10%;
  border-radius: 10px;
  object-fit: cover;
 
  overflow: hidden; 
}

.submitholderdiv{
  padding: 20px;
}

.submitholderdiv form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
  
}